{% extends "_base.html" %}

{% block page_title %}تکمیل شد{% endblock page_title %}
{% load crispy_forms_tags %}


{% block page_content %}
    <section class="py-5 flex-grow-1 d-flex justify-content-center align-items-center" style="background-color: #25272B">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="modal position-static d-flex">
                        <div class="modal-dialog w-100">
                        <div style="background-color: #eeeeee" class="modal-content w-100">
                            <div style="border-bottom:1px solid #bdbdbd" class="modal-header">
                                <h5 style="font-family: 'Vazir-Bold', serif" class="modal-title">با موفقیت تغییر یافت</h5>
                            </div>
                            <div class="modal-body">
                                <p>رمز شما با موفقیت تغییر یافت.</p>
                            </div>
                            <div style="border-top:1px solid #bdbdbd" class="modal-footer">
                                <a href="{% url 'home' %}" class="btn btn-primary">بازگشت به خانه</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock page_content %}
