{% extends "_base.html" %}

{% block page_title %}تغییر رمز عبور{% endblock page_title %}
{% load crispy_forms_tags %}

{% block page_content %}
    <section class="py-5 flex-grow-1" style="direction: ltr;background-color: #25272B">
        <div class="container">
            <div class="row">
                <div>
                    <a style="color: #f3f3f3" href="{% url 'home' %}"
                       class="wrapper-icon d-flex align-items-center text-decoration-none">
                        <i class="fa-solid fa-arrow-left fa-lg"></i>
                        <span style="font-size: 18px" class="pe-1">بازگشت به صفحه اصلی</span>
                    </a>
                    <div class="col-12 card shadow bg-light mt-3 border-0 py-3 px-4">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-success" type="submit">تغییر</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock page_content %}
