{% extends "_base.html" %}

{% block page_title %}تغییر رمز عبور{% endblock page_title %}
{% load crispy_forms_tags %}

{% block page_content %}
    <section class="my-5">
        <div class="container">
            <div class="row">
                <a href="{% url 'home' %}" class="wrapper-icon d-flex align-items-center text-decoration-none">
                    <span style="font-size: 22px" class="material-symbols-outlined">arrow_back</span>
                    <span style="font-size: 18px" class="ps-1">بازگشت به صفحه اصلی</span>
                </a>
                <div class="col card shadow bg-light mt-3">
                    <form action="" method="POST" class="p-3">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-success" type="submit">تغییر</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock page_content %}
