{% extends "_base.html" %}
{% load static %}

{% block page_title %}{{ report.title }}{% endblock page_title %}

{% block page_style %}
    <style>
        .scroll-to-top {
            bottom: 30px;
            left: 30px;
            background-color: #F54437;
            width: 40px;
            height: 40px;
            cursor: pointer;
        }

        .text-news-detail {
            line-height: 1.7;
            font-size: 17px;
        }

        @media screen and (max-width: 992px) {
            .title-news-detail {
                font-size: 36px !important;
                line-height: 1.4;
            }
        }

        @media screen and (max-width: 576px) {
            .title-news-detail {
                font-size: 28px !important;
            }

            .text-news-detail,
            .info-news-detail li span {
                font-size: 15px !important;
            }
        }

        #input-comment {
            width: min(600px, 100%);
            background-color: rgb(222, 222, 222);
        }

        .label-input-comment,
        .text-form {
            color: rgb(211, 211, 211);
            font-size: 18px;
            line-height: 1.6;
        }

        .button-input {
            width: 120px;
            height: 40px;
            background-color: #F25600;
            color: #fff;
            font-size: 15px;
        }

        .wrapper-comments{
            background-color: #1B344D;
        }

        .warning-comment{
            background-color: #dea514;
        }

        .warning-comment p,
        .warning-comment a{
            font-family: "Vazir-Bold", serif;
            font-size: 18px;
        }

        .comment{
            background-color: #061B33;
        }

        .user-profile-img{
            width: 60px;
            height: 60px;
        }

        .text-comment{
            font-size: 18px;
            line-height: 1.7;
        }
    </style>
{% endblock page_style %}

{% block page_content %}
    <section class="bg-black py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="wrapper-news-detail">
                        <figure class="wrapper-news-detail-img">
                            <img src="{% static 'img/dino-reichmuth-A5rCN8626Ck-unsplash-1536x1086.jpg' %}"
                                class="w-100 h-auto d-block" alt="">
                        </figure>
                        <h2 style="font-family: 'Vazir-Bold',serif;font-size: 50px;" class="text-white my-4 title-news-detail">
                            با سخت ترین ورزش جهان آشنا شوید</h2>
                        <ul class="info-news-detail d-flex">
                            <li class="text-white me-3">
                                <i class="fa-regular fa-user fa-lg"></i>
                                <span class="ms-1">نوید</span>
                            </li>
                            <li class="text-white me-2">
                                <i class="fa-regular fa-calendar fa-lg"></i>
                                <span class="ms-1">خرداد 5, 1400</span>
                            </li>
                        </ul>
                        <p class="text-news-detail text-white my-4">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی
                            تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی
                            در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم
                            افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان
                            فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و
                            شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
                            پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </p>
                    </div>
                    <div class="wrapper-comments card p-3 my-5">
                        <h3 style="font-family: 'Vazir-Bold',serif;" class="text-white">دیدگاه</h3>
                        <div class="warning-comment card py-3 px-4 justify-content-lg-between flex-lg-row mt-4">
                            <div class="d-flex flex-column flex-lg-row align-items-center">
                                <i class="fa-solid fa-user text-white mb-3 mb-lg-0 me-lg-3 fa-lg"></i>
                                <p class="text-white text-center text-lg-start">برای ارسال دیدگاه لازم است وارد شده یا ثبت نام کنید</p>
                            </div>
                            <div class="d-flex justify-content-center align-items-center mt-3 mt-lg-0">
                                <p class="text-white me-2 me-lg-3">
                                    <a class="text-white border-bottom" href="#">ورود</a>
                                    یا
                                    <a class="text-white border-bottom" href="#">ثبت نام</a>
                                </p>
                                <i class="fa-sharp fa-solid fa-arrow-left text-white fa-lg"></i>
                            </div>
                        </div>
                        <ul class="comments">
                            <li class="comment card p-3 my-5">
                                <div class="top-section-comment border-bottom pb-4 border-secondary">
                                    <div class="wrapper-info-user d-flex align-items-center">
                                        <figure class="user-profile-img">
                                            <img src="https://roocket.ir/img/default.png" alt="" class="w-100 h-auto d-block rounded-circle">
                                        </figure>
                                        <p class="text-white d-flex flex-column ms-2">
                                            <span style="font-family: 'Vazir-Bold',serif;" class="fs-5 mb-1">محمدرضا</span>
                                            <span style="color: rgb(204, 204, 204);font-size: 13px;">1 هفته پیش</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="bottom-section-comment">
                                    <p class="text-comment mt-3 text-white">
                                        سلام کلاسی css که داری استفاده میکنی سمت سرور next به یه صورته وقتی میاد سمت client لود میشه تغییر میکنه
                                    </p>
                                </div>
                            </li>
                            <li class="comment card p-3 my-5">
                                <div class="top-section-comment border-bottom pb-4 border-secondary">
                                    <div class="wrapper-info-user d-flex align-items-center">
                                        <figure class="user-profile-img">
                                            <img src="https://roocket.ir/img/default.png" alt="" class="w-100 h-auto d-block rounded-circle">
                                        </figure>
                                        <p class="text-white d-flex flex-column ms-2">
                                            <span style="font-family: 'Vazir-Bold', serif;" class="fs-5 mb-1">محمدرضا</span>
                                            <span style="color: rgb(204, 204, 204);font-size: 13px;">1 هفته پیش</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="bottom-section-comment">
                                    <p class="text-comment mt-3 text-white">
                                        سلام کلاسی css که داری استفاده میکنی سمت سرور next به یه صورته وقتی میاد سمت client لود میشه تغییر میکنه
                                    </p>
                                </div>
                            </li>
                            <li class="comment card p-3 my-5">
                                <div class="top-section-comment border-bottom pb-4 border-secondary">
                                    <div class="wrapper-info-user d-flex align-items-center">
                                        <figure class="user-profile-img">
                                            <img src="https://roocket.ir/img/default.png" alt="" class="w-100 h-auto d-block rounded-circle">
                                        </figure>
                                        <p class="text-white d-flex flex-column ms-2">
                                            <span style="font-family: 'Vazir-Bold', serif;" class="fs-5 mb-1">محمدرضا</span>
                                            <span style="color: rgb(204, 204, 204);font-size: 13px;">1 هفته پیش</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="bottom-section-comment">
                                    <p class="text-comment mt-3 text-white">
                                        سلام کلاسی css که داری استفاده میکنی سمت سرور next به یه صورته وقتی میاد سمت client لود میشه تغییر میکنه
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="send-comment border border-secondary p-3">
                        <h3 style="font-family: 'Vazir-Bold', serif;" class="text-white">دیدگاهتان را بنویسید</h3>
                        <p class="my-3 text-form">بخش‌های موردنیاز علامت‌گذاری شده‌اند *</p>
                        <form action="" method="POST" class="d-flex flex-column">
                            <label for="input-comment" class="label-input-comment mb-2">
                                <span>دیدگاه</span>
                                <span>*</span>
                            </label>
                            <textarea name="text-comment" id="input-comment" rows="10" class="p-2"></textarea>
                            <button type="submit" class="mt-3 button-input">فرستادن دیدگاه</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <button class="scroll-to-top position-fixed border-0 rounded" onclick="scrollToTop()">
        <i class="fa-sharp fa-solid fa-arrow-up text-light fa-lg"></i>
    </button>
{% endblock page_content %}


{% block page_script %}
    <script>
        function scrollToTop() {
            window.scrollTo(0, 0);
        }
    </script>
{% endblock page_script %}
