{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if LANGUAGE_CODE == "en-us" %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
              crossorigin="anonymous">
    {% elif LANGUAGE_CODE == "fa" %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.rtl.min.css"
              integrity="sha384-OXTEbYDqaX2ZY/BOaZV/yFGChYHtrXH2nyXJ372n2Y8abBhrqacCEe+3qhSHtLjy"
              crossorigin="anonymous">
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block page_title %}{% endblock page_title %}</title>
    <style>
        .dropdown-menu {
            --bs-dropdown-link-hover-color: none;
            --bs-dropdown-link-hover-bg: none;
            --bs-dropdown-link-active-bg: none;
            --bs-dropdown-link-active-color: none;
        }

        .required:after {
            content: " *";
            color: #F54437;
        }

        .optional-fa:after {
            content: " (اختیاری)";
            color: #0d6efd;
        }

        .optional-en-us:after {
            content: " (optional)";
            color: #0d6efd;
        }
    </style>
    {% block page_style %}
    {% endblock page_style %}
</head>

<body style="min-height: 100vh" class="d-flex flex-column">

<header class="position-sticky top-0" style="z-index: 9999;">
    <nav class="navbar navbar-expand-md" style="background-color:#F54437">
        <div class="container-fluid">
            <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i style="font-size: 26px" class="fa-regular fa-bars fw-bold text-light"></i>
            </button>
            {% if user.is_authenticated %}
                <div class="dropdown order-md-1 order-0">
                    <span data-bs-toggle="dropdown" style="width: 40px;height: 40px;cursor: pointer;"
                          class="d-flex border rounded-circle d-flex justify-content-center align-items-center">
                        <span class="text-light"
                              style="font-family: 'Vazir-Bold', serif;font-size: 20px;height: 25px;">{{ user.username.upper.0 }}</span>
                    </span>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a style="font-family: 'Vazir-Bold', serif" class="dropdown-item"
                               href="{% url 'password_change' %}">بازیابی رمز عبور</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a style="font-family: 'Vazir-Bold', serif" class="dropdown-item" href="{% url 'logout' %}">خروج
                            از حساب کاربری</a></li>
                    </ul>
                </div>
            {% else %}
                <span class="order-md-1 order-0 d-flex align-items-center">
                    <i class="fa-regular fa-user text-light"></i>
                    <a href="{% url 'signup' %}" class="text-light ms-2">ثبت نام</a>
                    <span class="mx-1 fs-5 mt-1">/</span>
                    <a href="{% url 'login' %}" class="text-light">ورود</a>
                </span>
            {% endif %}
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.view_name == 'home' %}text-light{% endif %}"
                           href="{% url 'home' %}">خانه</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.view_name == 'report_list' %}text-light{% endif %}"
                           href="{% url 'report_list' %}">اخبار</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.view_name == 'report_create' %}text-light{% endif %}"
                           href="{% url 'report_create' %}">ساخت خبر</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

{% block page_content %}
{% endblock page_content %}

<footer style="background-color: #202125;" class="text-light">
    <div class="container">
        <div class="row border-bottom border-secondary py-4">
            <div class="col-6 col-md mb-4 mb-md-0 d-flex flex-column align-items-center">
                <ul class="text-center">
                    <li class="mb-2"><a class="text-light" href="#">تازه ها</a></li>
                    <li class="mb-2"><a class="text-light" href="#">سلامتی</a></li>
                    <li class="mb-2"><a class="text-light" href="#">فرهنگ</a></li>
                    <li class="mb-2"><a class="text-light" href="#">زندگی</a></li>
                    <li class="mb-2"><a class="text-light" href="#">تکنولوژی</a></li>
                </ul>
            </div>
            <div class="col-6 col-md mb-4 mb-md-0  d-flex flex-column align-items-center">
                <ul class="text-center">
                    <li class="mb-2"><a class="text-light" href="#">سفر</a></li>
                    <li class="mb-2"><a class="text-light" href="#">کسب و کار</a></li>
                    <li class="mb-2"><a class="text-light" href="#">اروپا</a></li>
                    <li class="mb-2"><a class="text-light" href="#">آرایش</a></li>
                    <li class="mb-2"><a class="text-light" href="#">توریست</a></li>
                </ul>
            </div>
            <div class="col-6 col-md mb-4 mb-md-0  d-flex flex-column align-items-center">
                <ul class="text-center">
                    <li class="mb-2"><a class="text-light" href="#">جهان</a></li>
                    <li class="mb-2"><a class="text-light" href="#">غذا</a></li>
                    <li class="mb-2"><a class="text-light" href="#">شمشیر بازی</a></li>
                    <li class="mb-2"><a class="text-light" href="#">شهر بزرگ</a></li>
                </ul>
            </div>
            <div class="col-6 col-md mb-4 mb-md-0  d-flex flex-column align-items-center">
                <ul class="text-center">
                    <li class="mb-2"><a class="text-light" href="#">ورزش</a></li>
                    <li class="mb-2"><a class="text-light" href="#">استرالیا</a></li>
                    <li class="mb-2"><a class="text-light" href="#">تعطیلات</a></li>
                    <li class="mb-2"><a class="text-light" href="#">خاورمیانه</a></li>
                </ul>
            </div>
            <div class="col-12 col-md mb-4 mb-md-0 d-flex flex-column align-items-center">
                <ul class="text-center">
                    <li class="mb-2"><a class="text-light" href="#">فناوری و علوم</a></li>
                    <li class="mb-2"><a class="text-light" href="#">تجارت</a></li>
                    <li class="mb-2"><a class="text-light" href="#">اتومبیل رانی</a></li>
                    <li class="mb-2"><a class="text-light" href="#">سنگ نوردی</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col py-4 text-center">
                <span style="color: #F54437;">تمامی حقوق محفوظ است</span>
            </div>
        </div>
    </div>
</footer>

{% block page_script %}
{% endblock page_script %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"
        integrity="sha512-L4lHq2JI/GoKsERT8KYa72iCwfSrKYWEyaBxzJeeITM9Lub5vlTj8tufqYk056exhjo2QDEipJrg6zen/DDtoQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>