{% extends "_base.html" %}
{% load static %}

{% block page_title %}صفحه اصلی{% endblock page_title %}

{% block page_style %}
    <style>
        .latest-news {
            background-image: url({% static 'img/road-traffic-car-driving-city-taxi-1434-pxhere-1.jpg' %});
            background-position: center;
            background-size: cover;
        }

        .latest-news .carousel {
            width: min(100%, 400px);
        }

        .latest-news .carousel .carousel-inner .carousel-item {
            overflow: hidden;
        }

        .latest-news .carousel .carousel-inner .carousel-item .carousel-caption h5 {
            font-family: "Vazir-Bold", serif !important;
        }

        .custom-carousel-caption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            color: #f8f8f8;
            transform: translateY(55%);
            transition: transform 0.5s linear;
        }

        .carousel-item:hover > .custom-carousel-caption {
            transform: translateY(0%);
        }

        .latest-news .carousel .carousel-indicators {
            top: 0;
            left: 0;
            bottom: initial;
            right: initial;
            flex-direction: column;
            margin-left: 10%;
            margin-top: 6%;
        }

        .latest-news .carousel .carousel-indicators button {
            margin-bottom: 8px;
            width: 12px;
            height: 12px;
        }

        .latest-news .title-home {
            color: #f8f8f8;
            font-family: "Vazir-Bold", serif !important;
            top: 6%;
            right: 0;
        }
    </style>
{% endblock page_style %}

{% block page_content %}
    <section class="latest-news">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center position-relative">
                    <h3 class="position-absolute title-home fs-1 d-none d-lg-block">آخرین اخبار</h3>
                    <div id="carouselIndicators" class="carousel slide my-4" data-bs-ride="true">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0"
                                    class="active border-0 rounded-circle" aria-current="true"
                                    aria-label="Slide 1"></button>
                            <button class="border-0 rounded-circle" type="button" data-bs-target="#carouselIndicators"
                                    data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button class="border-0 rounded-circle" type="button" data-bs-target="#carouselIndicators"
                                    data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <a href="#" class="carousel-item active">
                                <img src="{% static 'img/beard-2286446_1920-1-1024x683.jpg' %}"
                                     style="object-fit: cover;"
                                     class="d-block w-100" height="480" alt="...">
                                <div class="custom-carousel-caption">
                                    <h5 class="fs-2 mb-4">عنوان اولین اسلاید</h5>
                                    <p class="">Some representative placeholder content for the first slide.</p>
                                </div>
                            </a>
                            <a href="#" class="carousel-item">
                                <img src="{% static 'img/beard-2286446_1920-1-1024x683.jpg' %}"
                                     style="object-fit: cover;"
                                     class="d-block w-100" height="480" alt="...">
                                <div class="custom-carousel-caption">
                                    <h5 class="fs-2 mb-4">عنوان دومین اسلاید</h5>
                                    <p class="">Some representative placeholder content for the first slide.</p>
                                </div>
                            </a>
                            <a href="#" class="carousel-item">
                                <img src="{% static 'img/beard-2286446_1920-1-1024x683.jpg' %}"
                                     style="object-fit: cover;"
                                     class="d-block w-100" height="480" alt="...">
                                <div class="custom-carousel-caption">
                                    <h5 class="fs-2 mb-4">عنوان سومین اسلاید</h5>
                                    <p class="">Some representative placeholder content for the first slide.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock page_content %}
