{% extends "_base.html" %}

{% block page_title %}Home Page{% endblock page_title %}

{% block page_content %}
    <section class="mt-5">
        <div class="container">
            <div class="row">
                <h2>Home Page</h2>
                {% if user.is_authenticated %}
                    <p>
                        <span>{{ user.username }}</span> /
                        <a href="{% url 'logout' %}">Log Out</a> /
                        <a href="{% url 'password_change' %}">Change Password</a>
                    </p>
                {% else %}
                    <div class="wrapper-links">
                        <a href="{% url 'login' %}">Login</a> /
                        <a href="{% url 'signup' %}">SignUp</a> /
                        <a href="{% url 'password_reset' %}">Reset Password</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock page_content %}
